.tags-wrapper {
  flex: 1; /* Ensure the container takes up all available space */
  overflow-x: auto; /* Enable horizontal scrolling */
  scrollbar-width: none; /* Hide scrollbar on Firefox */
  -ms-overflow-style: none; /* Hide scrollbar on IE and Edge */
}

.tags-wrapper::-webkit-scrollbar {
  display: none; /* Hide scrollbar on WebKit browsers */
}